

<!DOCTYPE html>
<html>
  <head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Arimo|Roboto+Slab" rel="stylesheet">
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" href="../../favicon.ico">

    <title>Snafu</title>

  </head>
      {% block head %}
      <style media="screen">
        .hero{
          background-image: url(https://3.bp.blogspot.com/-i7_alMB58GM/WJUaBOuGZZI/AAAAAAAADJo/mVrB5kheGmQm4JB-4SSbkBonew5FODlcwCLcB/w1200-h630-p-k-no-nu/Horizon%252C%2Bby%2BAngie%2BChung.jpg);
          background-repeat: no-repeat;
          background-size: cover;
        }
      </style>
  <body style="font-family: 'Arimo', sans-serif;">
    <br>
    <div class="container" style="opacity:0.8">
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
      {% if user.is_authenticated %}
  <a class="navbar-brand" href="/home/" style="font-family: 'Roboto Slab', serif;">Snafu</a>
      {% else %}
      <a class="navbar-brand" style="font-family: 'Roboto Slab', serif;">Snafu</a>
      {% endif %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% if user.is_authenticated %}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home/">Home</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/accounts/profile">Profile</a>
      </li>
    </ul>
        <a class="nav-link" href="/accounts/about" style="color:black;">About</a>
        <a class="nav-link" href="/accounts/logout" style="color:black;">Logout</a>
    </ul>
      {% else %}
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        </li>
      {% endif %}
  </div>
</nav>
    </div>


    {% endblock %}
    {% block body %}
    {% endblock %}
  </body>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</html>
